.horizontal-grid {
    display: flex;
}

.horizontal-grid .stretch-column {
    flex: 1 1;
}

.horizontal-grid .shrink-column {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

#tags-list {
    width: 100%
}